//
// General
//

* {
  box-sizing: border-box;
}

body {
  background-color: $color-ui-white;
}


// 
// Flex helpers
// 

.d-flex {
  display: flex;
}


// 
// Margin helpers
//

.mtg1 {
  margin-top: $grid-gutter;
}

.mbg1 {
  margin-bottom: $grid-gutter;
}

.mvg1 {
  margin-top: $grid-gutter;
  margin-bottom: $grid-gutter;
}


// 
// Sections
// 

main {
  overflow: hidden;

  > section {
    position: relative;
    z-index: 10;
    padding-top: $section-padding-top;
    padding-bottom: $section-padding-bottom;

    @include media(">lg") {
      padding-top: $section-padding-top-lg;
      padding-bottom: $section-padding-bottom-lg;
    }

    .scroll-detector {
      width: 1px;
      height: 1px;
      position: absolute;
      left: 50vw;
      top: 50vh;
      right: 50vw;
      bottom: 50vh;
      z-index: 999;
    }
  }
}

.spt1 {
  padding-top: $section-padding-top;
  @include media(">lg") {
    padding-top: $section-padding-top-lg;
  }
}

.spb1 {
  padding-bottom: $section-padding-bottom;
  @include media(">lg") {
    padding-bottom: $section-padding-bottom-lg;
  }
}


//
// Header
//

body > header {
  position: absolute;
  width: 100%;
  z-index: $zindex-sticky;
  top: $section-padding-top;

  @include media(">lg") {
    top: $section-padding-top;
  }

  .row {
    align-items: center;
  }

  .brand {
    box-sizing: content-box;
    display: block;
    width: 160px;
    height: 32px;

    img {
      width: 160px;
      height: 32px;
    }
  }

  .menu {
    display: none;
    box-shadow: $base-box-shadow;

    @include media(">md") {
      display: block;
      box-shadow: none;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 24px;
      background-color: $color-ui-white;
      border-radius: $base-border-radius;
      text-align: center;

      @include media(">md") {
        margin-top: 0;
        text-align: right;
        background-color: transparent;
        border-radius: 0;
      }
    }

    li {
      font-size: $body1-font-size;
      line-height: $body1-line-height;
      font-weight: $font-weight-medium;
      border-bottom: $base-border-style;

      @include media(">md") {
        display: inline-block;
        border-bottom: 0;
      }
    }

    a {
      display: block;
      text-decoration: none;
      padding-right: $button-padding-horizontal;
      padding-left: $button-padding-horizontal;
      padding-bottom: $button-padding-vertical;
      padding-top: $button-padding-vertical;
      letter-spacing: $button-letter-spacing;

      &:hover {
        background-color: $color-ui-lighter;
      }

      @include media(">md") {
        color: $color-ui-white;
        
        &:hover {
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }

    .lang-switcher {
      > a {
        text-transform: uppercase;
      }
    }
  }

  .hbg {
    position: absolute;
    right: $grid-gutter;
    top: 0;
    width: 40px;
    height: 32px;
    border-radius: $base-border-radius;
    cursor: pointer;
    background-image: url(/svg/icons/hbg.svg);
    background-position: center;
    background-repeat: no-repeat;

    @include media(">md") {
      display: none;
    }

    &:hover {
      background-color: $color-brand-primary;
    }

    &.active {
      background-color: $color-brand-primary;
      background-image: url(/svg/icons/hbg-close.svg);
    }
  }
}


//
// Content for single page
//

.content {
  position: relative;
  padding-bottom: $section-padding-bottom * 2;

  @include media(">lg") {
    padding-left: $grid-gutter * 2;
    padding-right: $grid-gutter * 2;
    padding-bottom: $section-padding-bottom-lg * 2;
  }

  > header {
    position: relative;
    width: 100%;
    z-index: $zindex-sticky;
    top: $section-padding-top;

    @include media(">lg") {
      top: $section-padding-top-lg;
    }

    .row {
      align-items: center;
    }

    .brand {
      display: block;
      width: 100px;
      height: 28px;
      margin-left: $grid-gutter / 2;

      img {
        width: 100px;
        height: 28px;
      }
    }
  }

  > main {
    position: relative;
    top: $section-padding-top * 2;

    @include media(">lg") {
      top: $section-padding-top-lg * 2;
    }
  }

  > footer {
    position: relative;
    top: 188px;

    .col {
      margin-left: 0;
    }
  }
}


//
// Pagination
// 

body > .pagination {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  list-style: none;
  z-index: $zindex-fixed;

  @include media("<lg") {
    display: none;
  }

  a {
    display: block;
    width: 24px;
    height: 24px;
    color: $color-ui-default;
    position: relative;
    padding: 8px;

    &:after {
      width: 4px;
      height: 4px;
      display: block;
      background-color: $color-ui-dark;
      border-radius: 50%;
      content: '';
      position: absolute;
      top: 10px;
      right: 10px;
      transition: all 0.3s ease;
    }

    &.active {
      &:after {
        width: 16px;
        height: 16px;
        top: 4px;
        right: 4px;
        background-color: $color-ui-default;
      }
    }

    &:not(.active):hover {
      &:after {
        width: 8px;
        height: 8px;
        top: 8px;
        right: 8px;
        background-color: $color-ui-default;
      }

      .hover-text {
        opacity: 1;
      }
    }

    .hover-text {
      display: block;
      position: absolute;
      left: 32px;
      top: 4px;
      width: 192px;
      opacity: 0;
      transition: opacity 0.5s ease;
      font-size: $caption-font-size;
      line-height: 16px;
      word-wrap: nowrap;
    }
  }
}


//
// Hero section
// 

section.hero {
  background-color: $color-ui-darkest;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  padding-top: $section-padding-top * 3;
  padding-bottom: $section-padding-bottom;

  @include media(">lg") {
    padding-top: $section-padding-top-lg * 1.5;
    padding-bottom: $section-padding-bottom-lg;
  }

  > .container-fluid > .row {
    align-items: flex-end;
  }

  h1 {
    color: $color-ui-white;

    @include media(">lg") {
      margin-bottom: 0;
    }
  }

  .action-calls {
    background-color: $color-ui-white;
    border-radius: $base-border-radius;
  }

  .featured-product {
    padding: 32px;
    height: 224px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: $base-border-style;
  }

  .action-call-row {
    display: flex;
  }

  .action-call {
    width: 50%;
    height: 224px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &:first-child {
      border-right: $base-border-style;
    }
  }
}


//
// About
// 

section.about {
  background-color: $color-ui-lightest;

  .twitter-widget-wrapper {
    display: inline-block;
    border-radius: $base-border-radius;
    box-shadow: $base-box-shadow;
    background-color: $color-ui-white;
    overflow: hidden;

    @include media(">xl") {
      margin-bottom: $section-padding-bottom-lg;
    }
  }

  .twitter-widget-clipper {
    margin: -11px -1px -51px;
    clip-path: inset(1px 1px 39px 1px);
  }
}


//
// Pool product section
// 

section.pool {
  border-bottom: $base-border-style;
  padding-bottom: 0;

  .product-image {
    margin-top: 48px;

    @include media(">xl") {
      margin-top: -160px;
    }

    img {
      width: 125%;
      height: auto;
    }
  }
}


//
// Roadmap and Timeline
//

section.roadmap {
  // border-bottom: $base-border-style;

  h2 {
    text-align: center;
  }

  .slick-slide {
    width: 320px;
  }

  .timeline-event {
    &.future {
      color: $color-ui-medium;
    }
  }
  .event-box {
    background: $color-ui-white;
    border: $base-border-style;
    box-shadow: $base-box-shadow;
    border-radius: $base-border-radius;
    margin: 16px;
  }

  .event-content {
    padding: 16px;
    min-height: 144px;
  }

  h4 {
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .event-image {
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  
    img {
      width: 100%;
      height: auto;
    }
  }

  .timeline-nav {
    text-align: center;

    @include media(">lg") {
      margin-top: $grid-gutter;
    }
  }

  .slick-arrow {
    width: 48px;
    height: 48px;
    @include text-hide;
    border: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: $grid-gutter / 2;
    margin-right: $grid-gutter / 2;
  }

  .slick-next {
    background-image: url(/svg/icons/icon-arrow-next.svg);
  }

  .slick-prev {
    background-image: url(/svg/icons/icon-arrow-prev.svg);
  }
}


//
// Subscribe
//

section.subscribe {
  border-bottom: $base-border-style;
  background-color: $color-ui-lightest;

  form {
    margin-top: $section-padding-top / 2;
  }
}


//
// Team
//

section.team {
  .founder,
  .member {
    .member-linkedin {
      display: block;
      width: 32px;
      height: 32px;
      border-radius: $base-border-radius;
      background-image: url(/svg/icons/icon-linkedin.svg);
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      box-shadow: $base-box-shadow;

      @include text-hide;
      background-color: $color-linkedin; // this needs to be after text-hide()
    }

    h4 {
      margin-bottom: 0;
    }

    small {
      font-size: $caption-font-size;
      line-height: $caption-line-height;
      color: $color-ui-dark;
      display: block;
    }
  }

  .founder {
    margin-bottom: 48px;

    .row {
      align-items: flex-start;
    }

    .member-linkedin {
      left: 72px;
      top: 56px;
      
      @include media(">lg") {
        left: calc(100% - 48px);
        top: calc(100% - 40px);
      }

      @include media(">xl") {
        left: calc(100% - 56px);
        top: calc(100% - 48px);
      }

      @include media(">ul") {
        left: calc(100% - 64px);
        top: calc(100% - 56px);
      }
    }

    img {
      display: block;
      border-radius: 50%;
      width: 80px;
      height: auto;

      @include media(">lg") {
        width: 100%;
      }
    }
  }

  .member {
    margin-bottom: 32px;

    .member-linkedin {
      left: 72px;
      top: 56px;
    }

    img {
      display: block;
      border-radius: 50%;
      width: 80px;
      height: auto;
      margin-bottom: 16px;
    }
  }
}

//
// Jobs
//

section.jobs {
  text-align: center;
  background-color: $color-ui-lightest;
}


// 
// Footer
// 

.footer {
  background-color: $color-ui-darkest;
  color: $color-ui-white;
  padding-top: $section-padding-top;
  padding-bottom: $section-padding-bottom;

  @include media(">lg") {
    padding-top: $section-padding-top-lg;
    padding-bottom: $section-padding-bottom-lg;
  }

  .brand {
    display: block;
  }

  h4 {
    padding: 16px 0;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba($color-ui-white, 0.2);
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: $grid-gutter;

    li {
      display: block;
    }

    a {
      display: block;
      color: $color-ui-white;
      text-decoration: none;
      padding: 4px 0;
      color: rgba($color-ui-white, 0.7);
    }
  }

  .social-links {
    display: flex;
  }

  .social-link {
    display: flex;
    width: 32px;
    height: 32px;
    margin-right: $grid-gutter;
    justify-content: center;
    align-items: center;

    img {
      display: block;
    }
  }
}

