<header>
 
  <nav class="container-fluid">
    <div class="row">

      <div class="col col-lg-2 col-xl-2 offset-xl-1 ">
        <a class="brand" href="/">
          <img src="/svg/logos/logotype-cake.svg" alt="{{ $.Site.Params.title }}" width="160" height="32">
        </a>
      </div>

      <div class="menu col col-lg-10 col-xl-8">
        <ul>
          <li><a href="#pool">Pool</a></li>
          <li><a href="#roadmap">Roadmap</a></li>
          <li><a href="#team">Team</a></li>
          <!-- <li class="lang-switcher"><a href="#lang-switcher">{{ .Language }}</a></li> -->
        </ul>
      </div>

      <div class="hbg"></div>

    </div>
  </nav>

</header>