<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ $.Param "meta.description" }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ .Site.Params.title }} &ndash; {{ $.Param "long_title" }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  {{ if .IsTranslated }}
  {{ range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
  {{ end }}
</head>

<body class="home">

  {{ partial "header.html" . }}

  <main>

    <section class="hero" id="home" data-scroll data-scroll-showCallback="heroIn()" data-scroll-hideCallback="heroOut()">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-6 col-xl-5 offset-xl-1">
            <h1 data-scroll="once">{{ $.Param "content.sections.hero.headline" }}</h1>
          </div>
          <div class="col col-lg-5 offset-lg-1 col-xl-4 offset-xl-1">
            <div class="action-calls" data-scroll="once">
              <div class="featured-product">
                <div>
                  <img src="{{ $.Param "content.sections.hero.featured_product.logo" }}" alt="{{ $.Param "content.sections.hero.featured_product.headline" }}">
                  <p>{{ $.Param "content.sections.hero.featured_product.description" }}</p>
                </div>
                <a class="btn" href="{{ $.Param "content.sections.hero.featured_product.cta.url" }}">
                  {{ $.Param "content.sections.hero.featured_product.cta.label" }}</a>
              </div>
              <div class="action-call-row">
                <div class="action-call">
                  <h4 class="h5">{{ $.Param "content.sections.hero.what_is_defi.headline" }}</h4>
                  <a class="btn btn-plain" href="{{ $.Param "content.sections.hero.what_is_defi.cta.url" }}" target="_blank">
                    <div class="icon-wrapper">
                      <img src="/svg/icons/icon-play-circle.svg" alt="Play icon" class="icon">
                      &nbsp;
                      {{ $.Param "content.sections.hero.what_is_defi.cta.label" }}
                    </div>
                  </a>
                </div>
                <div class="action-call">
                  <h4 class="h5">{{ $.Param "content.sections.hero.community.headline" }}</h4>
                  <a class="btn btn-plain" href="{{ $.Param "content.sections.hero.community.cta.url" }}" target="_blank">
                    <div class="icon-wrapper">
                      <img src="/svg/icons/icon-telegram.svg" alt="Play icon" class="icon">
                      &nbsp;
                      {{ $.Param "content.sections.hero.community.cta.label" }}
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- animation hero here -->
    </section>

    <section class="about" id="{{ $.Param "content.sections.about.name" }}">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-sm-10 col-xl-4 offset-xl-1 mbg1">
            <h2 data-scroll="once">{{ $.Param "content.sections.about.headline" }}</h2>
            {{ $.Param "content.sections.about.description" | safeHTML }}
          </div>
          <div class="tweets col col-lg-5 col-xl-4 offset-xl-2">
            <h3 data-scroll="once">{{ $.Param "content.sections.about.tweets.headline" }}</h3>
            <div class="twitter-widget-wrapper" data-scroll="once">
              <div class="twitter-widget-clipper">
                <blockquote class="twitter-tweet" data-conversation="none">
                  <p lang="en" dir="ltr">I like the openness and transparency approach - this is what&#39;s lacking in the crypto
                    community, which is more or less full of BS...</p>&mdash; Ales Tomazin (@Tomas38A) <a
                    href="https://twitter.com/Tomas38A/status/1166767381714219009?ref_src=twsrc%5Etfw">August 28, 2019</a>
                </blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pool" id="{{ $.Param "content.sections.pool.name" }}">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-sm-10 col-lg-8 col-xl-4 offset-xl-1">
            <h2 data-scroll="once">{{ $.Param "content.sections.pool.headline" }}</h2>
            <p data-scroll="once" class="mbg1">{{ $.Param "content.sections.pool.description" }}</p>
            <div data-scroll="once">
              <a class="btn" href="{{ $.Param "content.sections.pool.cta.url" }}" target="_blank">
                {{ $.Param "content.sections.pool.cta.label" }}
              </a>
            </div>
          </div>
          <div class="product-image col col-lg-8 offset-lg-4 col-xl-7 offset-xl-0 col-ul-6 offset-ul-1">
            <img data-scroll="once" src="{{ $.Param "content.sections.pool.image.x1" }}" srcset="{{ $.Param "content.sections.pool.image.x1" }} 1x, {{ $.Param "content.sections.pool.image.x2" }} 2x" alt="{{ $.Param "content.sections.pool.image.alt" }}">
          </div>
        </div>
      </div>
    </section>

    <section class="roadmap" id="{{ $.Param "content.sections.roadmap.name" }}">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h2 data-scroll="once">{{ $.Param "content.sections.roadmap.headline" }}</h2>
          </div>
        </div>
      </div>
      <div class="timeline-slider" data-scroll="once">
        {{ range $year := $.Param "content.sections.roadmap.timeline" }}
        {{ range $event := $year.events }}
        <div class="timeline-event {{ $event.status }}">
          <div class="event-box">
            <div class="event-content">
              <h4 class="h5">{{ $event.month }}</h4>
              <p>{{ $event.title }}</p>
            </div>
            <div class="event-image">
              <img src="{{ $event.image.x1 }}" srcset="{{ $event.image.x1 }} 1x, {{ $event.image.x2 }} 2x" alt="{{ $event.image.alt }}">
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="timeline-nav"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="subscribe">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-4 offset-xl-1">
            <h2 data-scroll="once">{{ $.Param "content.sections.roadmap.description" }}</h2>
            <form data-scroll="once" action="https://formkeep.com/f/459e1f2108d2" accept-charset="UTF-8"
              enctype="multipart/form-data" method="POST">
              <input type="hidden" name="utf8" value="✓">
              <div class="form-field">
                <input name="email" type="email" size="1"
                  placeholder="{{ $.Param "content.sections.roadmap.subscribe.textfield.placeholder" }}" required>
                <button type="submit"
                  class="btn btn-plain">{{ $.Param "content.sections.roadmap.subscribe.button.label" }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="team" id="{{ $.Param "content.sections.team.name" }}">
      <div class="container-fluid">
        <div class="row mbg1">
          <div class="col col-md-2 offset-xl-1">
            <h2 data-scroll="once">{{ $.Param "content.sections.team.headline" }}</h2>
          </div>
          <div class="col col-sm-10 col-md-6">
            <p data-scroll="once">{{ $.Param "content.sections.team.description" }}</p>
          </div>
        </div>
        <div class="row mbg1">
          <div class="col">
            <div class="team-world-map-wrapper">
              <div class="team-world-map">
                <div class="locations">
                  {{ range $location := $.Param "content.sections.team.map.locations" }}
                    <div class="location anchor-{{ $location.anchor }}" style="left:{{ $location.xpos }}%;top:{{ $location.ypos }}%"></div>
                  {{ end }}
                </div>
                <img src="/svg/map/world-map.svg" alt="World map">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {{ range $index, $founder := $.Param "content.sections.team.founders" }}
          <div class="founder col col-md-6 col-xl-5{{ if eq $index 0 }} offset-xl-1{{ end }}" data-scroll="once">
            <div class="row">
              <div class="col col-4 col-sm-2 col-lg-4">
                <img src="/img/team/{{ $founder.image }}.jpg" srcset="/img/team/{{ $founder.image }}.jpg 1x, /img/team/{{ $founder.image }}@2x.jpg 2x" alt="{{ $founder.name }}’s thumbnail">
                <a class="member-linkedin" href="{{ $founder.linkedin }}" target="_blank">LinkedIn</a>
              </div>
              <div class="col col-8 col-md-6 col-lg-8">
                <h4 class="h5">{{ $founder.name }}</h4>
                <small>{{ $founder.title }}</small>
                <p>{{ $founder.description }}</p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
            
        <div class="row mbg1">
          <div class="col col-xl-10 offset-xl-1">
            <div class="row">
              {{ range $member := $.Param "content.sections.team.members" }}
              <div class="member col col-6 col-sm-3 col-xl-2" data-scroll="once">
                <img src="/img/team/{{ $member.image }}.jpg" srcset="/img/team/{{ $member.image }}.jpg 1x, /img/team/{{ $member.image }}@2x.jpg 2x" alt="{{ $member.name }}’s thumbnail">
                <a class="member-linkedin" href="{{ $member.linkedin }}" target="_blank">LinkedIn</a>
                <h4 class="h5">{{ $member.name }}</h4>
                <small>{{ $member.title }}</small>
              </div>
              {{ end }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-xl-10 offset-xl-1">
            <h3>{{ $.Param "content.sections.team.investors.headline" }}</h3>
            <div class="row">
              {{ range $investor := $.Param "content.sections.team.investors.investors" }}
              <div class="member col col-6 col-sm-3 col-xl-2" data-scroll="once">
                <img src="/img/investors/{{ $investor.image }}.jpg"
                  srcset="/img/investors/{{ $investor.image }}.jpg 1x, /img/investors/{{ $investor.image }}@2x.jpg 2x"
                  alt="{{ $investor.name }}’s thumbnail">
                <h4 class="h5">{{ $investor.name }}</h4>
                <small>{{ $investor.title }}</small>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="jobs" id="{{ $.Param "content.sections.jobs.name" }}">
      <div class="container-fluid">
        <h2 class="h3" data-scroll="once">{{ $.Param "content.sections.jobs.headline" }}</h2>
        <a class="btn btn-linkedin" href="{{ $.Param "content.sections.jobs.cta.url" }}" data-scroll="once">
          <div class="icon-wrapper">
            {{ $.Param "content.sections.jobs.cta.label" }}
            &nbsp;
            <img src="/svg/icons/icon-linkedin.svg" alt="LinkedIn icon" class="icon">
          </div>
        </a>
      </div>
    </section>

  </main>

  {{ partial "footer.html" . }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {{ $scrolltrigger := resources.Get "js/ScrollTrigger.min.js" }}
  {{ $slick := resources.Get "js/slick.min.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $scrolltrigger $slick $main | resources.Concat "js/bundle.js" | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
  {{ template "_internal/google_analytics_async.html" . }}
</body>

</html>